/* frontend/components/ChatRoom.module.css */

.chatRoom {
  flex: 1; /* Nimmt den verbleibenden Platz neben der Sidebar ein */
  display: flex;
  flex-direction: column;
  height: 91vh; /* Volle Höhe des Ansichtsfensters */
  background-color: #ffffff; /* Hintergrundfarbe nach Bedarf anpassen */
  padding-right: 0rem;
  margin-right: 0rem;
}

.messageContainer {
  flex: 1; /* Nimmt den verfügbaren Raum ein */
  overflow-y: auto; /* Ermöglicht Scrollen der Nachrichten */
  padding: 20px;
  padding-right: 0rem;
  margin-right: 0rem;
}

.messageContainer::-webkit-scrollbar {
  width: 10px; /* Erhöhte Breite für bessere Sichtbarkeit */
}

.messageContainer::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 6px;
}

.messageContainer::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

.noMessages {
  text-align: center;
  color: #888;
  margin-top: 20px;
}

