/* frontend/styles/Home.module.css */

.container {
    display: flex;
    height: 100%; /* Volle Höhe des Ansichtsfensters */
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0%;
    padding-right: 0%;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  